<!-- Grid row -->
<div class="row">
  <!-- Grid column -->
  <div class="col-lg-4 col-md-12 mb-4">
    <!-- Card -->
    <div class="card card-ecommerce">
      <!-- Card image -->
      <div class="view overlay">
        <img src="assets/img/img_avatar.png"
             class="img-fluid" alt="sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!-- Card image -->
      <!-- Card content -->
      <div class="card-body">
        <!-- Category & Title -->
        <h5 class="card-title mb-1">
          <strong>
            <a href="" class="dark-grey-text">BUY</a>
          </strong>
        </h5>
        <!--<span class="badge badge-danger mb-2">bestseller</span>-->
        <!-- Rating -->
        <ul class="rating">
          <li>
            <i class="fas fa-star blue-text"></i>
          </li>
          <li>
            <i class="fas fa-star blue-text"></i>
          </li>
          <li>
            <i class="fas fa-star blue-text"></i>
          </li>
          <li>
            <i class="fas fa-star blue-text"></i>
          </li>
          <li>
            <i class="fas fa-star blue-text"></i>
          </li>
        </ul>
        <!-- Card footer -->
        <div class="card-footer pb-0">
          <div class="row mb-0">
            <button (click)="goBuy()">BUY</button>
          </div>
          <hr />
          <div class="row mb-0">
            <button (click)="goAccount()">Load Account</button>
          </div>
        </div>
      </div>
      <!-- Card content -->
    </div>
    <!-- Card -->
  </div>
  <!-- Grid column -->
</div>
<!-- Grid row -->
