<!--Navigation-->
<header>
  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg  navbar-light scrolling-navbar white">
    <div class="container">
      <!-- SideNav slide-out button -->
      <!--<div class="float-left mr-2">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i></a>
      </div>-->
      <!--<div class="logo-wrapper waves-light">
        <a routerLink="home"><img src="assets/img/logo.png" class="img-fluid flex-center" width="55"></a>
      </div>-->

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" routerLink="/contact/"><i class="fas fa-envelope blue-text"></i> Contact <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link dark-grey-text font-weight-bold" routerLink="/cart/">
              <span class="badge danger-color">{{balance}}</span>
              <i class="fa fa-shopping-cart blue-text" aria-hidden="true"></i>
              <span class="clearfix d-none d-sm-inline-block">Cart</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- /.Navbar -->

</header>
<!-- /.Navigation -->
